# Server Configuration
NODE_ENV=dev
PORT=3000

# Database Configuration
PG_HOST = localhost
PG_USER = user
PG_PASSWORD = password
PG_DB = pg_db
PG_PORT = 5432

# Optional: Connection String (overrides individual params if used by app logic)
# DATABASE_URL=postgresql://postgres:password@localhost:5432/my_database
